    <main id="tela-historico" style="display: none;">
        <div class="tabela-container" style="width: 100%;">
            <h3 style="margin-bottom: 15px; color: white;">Registro de Empréstimos</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID da Tag</th>
                        <th>Equipamento</th>
                        <th>Usuário</th>
                        <th>Data/Hora Retirada</th>
                        <th>Data/Hora Devolução</th>
                    </tr>
                </thead>
                <tbody id="corpo-tabela-historico">
                    <tr>
                        <td colspan="5" class="data-vazia">Carregando histórico...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>